#nav {
  #search {
    width: 25vw;
  }
  @media screen and (max-width: 780px) {
    ul {
      padding: 10px;
    }
    #search {
      width: 20vw !important;
    }
  }
  @media screen and (max-width: 650px) {
    #search {
      display: none;
    }
    #search-icon {
      border-radius: 500px;
      padding: 15px;
      height: auto;
    }
    #logo {
      padding: 5px;
    }
  }
  @media screen and (max-width: 500px) {
    ul {
      display: grid;
      grid-template-columns: 1fr auto auto auto;
    }

    #search-icon {
      border-radius: 500px;
      padding: 10px;
      height: auto;
      margin-right: 10px;
    }
    #logo {
      padding: 5px;
    }
    .smallIcon {
      font-size: 20px;
    }
    #mic-icon {
      width: auto;
      height: auto;
      padding: 10px;
    }
  }
}
.navBlur {
  background: #131313a4;
  box-shadow: 0 8px 32px 0 rgba(64, 64, 64, 0.226);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@media screen and (max-width: 650px) {
  
.navBlur {
  /* Always apply the medium blur */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid #3c3c3c;
}

/* Only apply the background colors if backdrop-filter is supported */
@supports ((-webkit-backdrop-filter: blur(0)) or (backdrop-filter: blur(0))) {
  .navBlur {
    /* Light mode background: white at 10% opacity */
    background-color: rgba(255, 255, 255, 0.1);
  }

  /* In dark mode, override with a dark background: black at 10% opacity */
  @media (prefers-color-scheme: dark) {
    .navBlur {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
}
