@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body {
  background-color: #0f0f0f;
}
.react-player {
  video {
    object-fit: cover;
  }
}
.playerTrue {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
  filter: drop-shadow(2px 2px 2px #414141);
}
.playerTrue.show {
  opacity: 1;
  visibility: visible;
}

/* Svg filter */
 